extends layout

block scripts
  script(src="/js/sudoku/sudoku-html.min.js")

block content
  h1.ui.header Sudoku Generator

  form(name="generateform", onsubmit="return false;")
    .ui.form
      .field
        label How many?
        input#generatenumber(required, type='number', name='generatenumber', min='1', max='20', placeholder='Number of Sudokus', value=(query.generatenumber) ? query.generatenumber : 1)
      .three.fields
        .field
          label Difficulty
          .ui.selection.dropdown
            input(type='hidden', name='difficultyselect', value='0')
            i.dropdown.icon
            .default.text Choose a Difficulty
            .menu
              .item(data-value='0') Any
              .item(data-value='1') Simple
              .item(data-value='2') Easy
              .item(data-value='3') Intermediate
              .item(data-value='4') Expert
        .field
          label Symmetry
          .ui.selection.dropdown
            input(type='hidden', name='symmetryselect', value='2')
            i.dropdown.icon
            .default.text Choose a Symmetry
            .menu
              .item(data-value='0') None
              .item(data-value='1') Rotate 90°
              .item(data-value='2') Rotate 180°
              .item(data-value='3') Mirror
              .item(data-value='4') Flip
              .item(data-value='5') Random
        .field
          label Output Format
          .ui.selection.dropdown
            input(type='hidden', name='outputselect', value='2')
            i.dropdown.icon
            .default.text Choose a Format
            .menu
              .item(data-value='2') Readable
              .item(data-value='1') Compact
              .item(data-value='0') One line
              .item(data-value='3') CSV
      .inline.fields
        label Options
        .field
          .ui.toggle.checkbox
            input.hidden(type='checkbox', tabindex='0', name='printsolution')
            label Solution
        .field
          .ui.toggle.checkbox
            input.hidden(type='checkbox', tabindex='1', name='printhistory')
            label History
        .field
          .ui.toggle.checkbox
            input.hidden(type='checkbox', tabindex='2', name='printinstructions')
            label Solve Instructions
        .field
          .ui.toggle.checkbox
            input.hidden(type='checkbox', tabindex='3', name='timer')
            label Timer
        .field
          .ui.toggle.checkbox
            input.hidden(type='checkbox', tabindex='4', name='printstats', checked)
            label Rating
      
      .ui.inverted.dimmer#loader
        .ui.text.loader Working

      .ui.negative.message.hidden#errorParent
        .header Error
        p#error Message
      .field
        input.ui.primary.button(type='submit', name='generatebutton', value='Submit', onclick="generate(this.form);")
  
  .ui.divider
  .ui.segment
    code
      pre#output
