doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/libraries/semantic/semantic.min.css')
  body
    .ui.container
      block content

  script(src="/libraries/jquery/jquery.min.js")
  script(src="/libraries/semantic/semantic.min.js")
